.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 100%; 
  max-width: 900px; 
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border: 2px solid #f4c2d7;
}

input, select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #f4aacb;
}

button {
  padding: 10px;
  background-color: #f4aacb;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ff84b7;
}